.project-cards {
    width: 100%;
    visibility: hidden;

    .project {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        margin-top: 16px;
        position: relative;
        height: auto;
        width: calc(100% - 48px);
        background-color: $white;
        border: $light-grey solid 2px;
        border-radius: 24px;
        padding: 24px;
        transition: scale 0.25s ease;
        line-height: unset;
        text-decoration: none;
        justify-content: stretch;

        .project-img-container {
            width: 100%;
            height: auto;

            .project-img {
                aspect-ratio: 16 / 10;
                border-radius: 16px;
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: auto;
                user-select: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
        }

        .project-chips {
            width: auto;
            height: auto;
        }

        .project-description {
            height: auto;

            h4 {
                font-size: $fs-xs;
                font-weight: 500;
                letter-spacing: -0.1rem;
            }

            .project-arrow {
                display: none;
            }
        }

        .project-arrow {
            width: $fs-md;
            place-self: end end;
            transition: transform 0.25s ease;
        }
    }

    .project:hover {
        scale: 0.98;
        .project-arrow {
            transform: rotate(-45deg);
        }
    }

    .soon {
        background-color: $darker-grey;
        border: $dark-grey solid 2px;
        color: $white;
        .project-img-container {
            aspect-ratio: 16 / 10;
            border-radius: 16px;
            background-color: $black;
            color: $grey;
            display: grid;
            place-items: center;
        }
        .project-chips {
            .chip {
                background-color: $dark-grey;
            }
        }
        .project-arrow {
            transition: transform 0.5s ease;
        }
    }

    .soon:hover {
        scale: 0.98;
        .project-arrow {
            transform: rotate(-360deg);
        }
    }

    &.list {
        .project {
            .project-chips {
                justify-content: right;
                align-content: start;
            }
        }
    }

    &.grid {
        .project {
            width: calc(50% - 60px);
            margin-right: unset;
            grid-template-columns: 1fr;

            .project-chips {
                flex-wrap: wrap;
            }

            .project-chips::-webkit-scrollbar {
                display: none;
            }

            .project-description {
                p {
                    display: none;
                }
                
                .project-arrow {
                    place-self: end end;
                    display: block;
                }
            }
            
            .project-arrow {
                display: none;
            }
        }
    }
}

.more-projects {
    .thumb-container {
        aspect-ratio: 1 / 1;
        transition: scale 0.25s ease,
            opacity 0.25s ease;
        width: 100%;

        .project-thumb {
            border-radius: 24px;
            position: relative;

            img {
                border-radius: 16px;
                width: 100%;
                aspect-ratio: 1 / 1;
                -o-object-position: center;
                object-position: center;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        .flex {
            margin-top: 8px;

            h6 {
                font-family: $rubik;
                font-size: $fs-xs;
                color: $white;
                line-height: 130%;
            }

            img {
                width: $fs-xs;
                height: $fs-xs;
                transition: transform 0.25s ease;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }

    .thumb-container:hover {
        scale: 0.98;
        opacity: 1;

        .flex {
            img {
                transform: rotate(-45deg);
            }
        }
    }

    .grid.grid-2-row {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;

        .thumb-container {
            opacity: 0.75;
            aspect-ratio: unset;

            .project-thumb {
                img {
                    aspect-ratio: unset;
                    width: 100%;
                }
            }

            .flex {
                h6 {
                    font-size: $fs-xxs;
                }

                img {
                    width: $fs-xxs;
                    height: $fs-xxs;
                }
            }
        }

        .thumb-container:hover {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1024px) {

    .project-cards {
        &.grid {
            .project {
                margin-right: unset;
                width: unset;
                grid-template-columns: 1.5fr 0.5fr;

                .project-chips {
                    justify-content: right;
                    align-content: start;
                    overflow-x: unset;
                    height: unset;
                    text-wrap: unset;
                    flex-wrap: wrap;
                    margin: unset;
                    padding-right: unset;

                    .btn:first-child {
                        margin-left: unset;
                    }
                }

                .project-chips::-webkit-scrollbar {
                    display: unset;
                }

                .project-description {
                    p {
                        display: unset;
                    }

                    .project-arrow {
                        display: none;
                    }
                }

                .project-arrow {
                    display: unset;
                }
            }
        }
    }

    .more-projects {
        .thumb-container {
            width: 100%;

            .project-thumb {
                h6 {
                    font-size: $fs-xxs;
                }
            }

            .grid.grid-2-row {
                .thumb-container {
                    .flex {
                        h6 {
                            font-size: $fs-xxxs;
                        }

                        img {
                            width: $fs-xxxs;
                            height: $fs-xxxs;
                        }
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 768px) {

    .project-cards,
    .project-cards.grid {
        .project {
            overflow: hidden;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            height: auto;

            .project-chips {
                justify-content: start !important;
                overflow-x: scroll;
                height: auto;
                text-wrap: nowrap;
                flex-wrap: nowrap;
                margin: 0 -24px;
                padding-right: 24px;

                .btn:first-child {
                    margin-left: 24px;
                }
            }

            .project-chips::-webkit-scrollbar {
                display: none;
            }

            .project-description {
                h3 {
                    margin: 0;
                }

                h4 {
                    font-size: $fs-xxs;
                }

            }

            .project-arrow {
                display: none;
            }
        }
    }

    .more-projects {
        .thumb-container {
            aspect-ratio: unset;

            .project-thumb {
                h6 {
                    margin: 10px 16px;
                    font-size: $fs-xxxs;
                }
            }
        }
    }

}