footer {
    background-color: $tan;
    margin-top: -48px;
    padding-top: 128px;
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: calc(100vh - 64px);
    width: 100%;

    >div {
        width: 100%;
        max-width: 1920px;
    }

    .footer-content {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

        .footer-text {
            grid-column: 3 / span 3;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;

            p {
                margin: 0;

                span {
                    font-weight: 500;
                }
            }

            .email {
                background-color: $brown;
                border: $brown-outline 1px solid;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                padding: 8px 12px;
                border-radius: 8px;
                transition: scale 0.25s ease;
                font-family: $mono;
                font-weight: 500;
                margin: 0;
                text-decoration: none;

                img {
                    width: 1.6rem;
                    height: 1.6rem;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }

            .email:hover {
                scale: 0.97;
            }

            div {
                a {
                    font-weight: 400;
                }
            }
        }

        .footer-links {
            grid-column: 7;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }

        .footer-logo {
            grid-column-start: 9;
            grid-column-end: 11;
            width: 100%;
            max-width: 256px;
            place-self: start end;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            transition: scale 0.25s ease;
        }

        .footer-logo:hover {
            scale: 0.95;
        }
    }

    .footer-icons {
        transform-origin: top;
        scale: 1;
        opacity: 1;
        margin-top: 256px;
        height: 256px;
        max-width: 1080px;

        #target {
            transform: translateY(-64px);
        }

        img {
            margin-top: 256px;
            max-width: calc(150% / 3);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

@media screen and (max-width: 1024px) {

    footer {
        .footer-content {
            row-gap: 48px;

            .footer-text {
                grid-column: 2 / span 3;
            }

            .footer-links {
                grid-column: 6 / span 3;
            }

            .footer-logo {
                max-width: unset;
                grid-column: 2 / span 6;
            }
        }
    }

}

@media screen and (max-width: 768px) {


    footer {

        .footer-content {
            row-gap: 32px;

            .footer-text {
                grid-column: 1 / span 8;
            }

            .footer-links {
                grid-column: 1 / span 4;
            }

            .footer-logo {
                grid-column: 5 / span 4;
            }
        }

        .footer-icons {
            margin-top: 192px;
            height: 192px;

            img {
                margin-top: 192px;
                max-width: calc(125% / 3);
            }
        }
    }

}

@media screen and (max-width: 425px) {

    footer {

        .footer-content {
            .footer-text {
                grid-column: 1 / span 4;
            }

            .footer-links {
                grid-column: 1 / span 2;
            }

            .footer-logo {
                grid-column: 3 / span 2;
            }
        }

        .footer-icons {
            margin-top: 128px;
            height: 128px;
            gap: 16px;

            img {
                margin-top: 64px;
            }
        }
    }

}