.hero-wrapper {
    .col-12-8-4 {
        row-gap: 0;
        justify-content: end;
        align-items: end;
        height: 100%;
        .sm-hero {
            display: none;
        }
    }
    .project-title {
        z-index: 2;
        margin: 0 0px 104px 0px;
        h3 {
            margin: 0 0 16px 0;
        }
    .arrow-down {
        margin: 0;
    }
    }
}
.overlay::before {
    content: '';
    z-index: 1;
    width: 100%;
    height: calc(100vh + 64px);
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: linear-gradient(0deg, #ffffffe6 0%, #ffffff00 50%)
}

.col-12-8-4.project-section {
    row-gap: 48px;
    .paragraph.callout {
        p {
            color: $black;
        }
    }
    h5 {
        font-family: $rubik;
        font-weight: 600;
        color: $white;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
    }
    h5::after {
        content: '';
        background-color: $dark-grey;
        width: 100%;
        height: 0.4rem;
        place-self: center;
    }
    p {
        color: $light-grey;
    }
    figure {
        margin: 0;
        img {
            width: 100%;
            border-radius: 8px;
            transition: scale 0.25s ease;
        }
    }
    .paragraph:not(.callout, .code-dropdown) {
        margin-top: 96px;
        .project-reveal {
            margin-top: 0;
        }
        .code-dropdown {
            grid-column: 1 / start 2;
            border-radius: 16px;
            background-color: $darker-grey;
            overflow: hidden;
            max-height: 5.8rem;
            transition: max-height 0.75s ease-in-out,
                        scale 0.1s ease-in-out;
            .code-dropdown-btn {
                padding: 16px;
                border-radius: 16px;
                background-color: $darker-grey;
                p {
                    color: $white;
                }
                .caret {
                    height: 1.2rem;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border: none;
                    background-color: transparent;
                    color: $white;
                    transition: transform 0.25s ease;
                }
            }
            .code-preview {
                margin: 0 16px 16px 16px;
                background-color: #181818;
                padding: 16px;
                border-radius: 8px;
                pre {
                    font-size: unset;
                    margin: 0;
                    code {
                        color: $white;
                        text-wrap: wrap;
                        word-wrap: break-word;
                        .hljs-comment {
                            color: #535353;
                        }
                        .hljs-variable,
                        .hljs-title {
                            color: #94b4e4;
                        }
                        .hljs-literal,
                        .hljs-number {
                            color: #8eb46d;
                        }
                        .hljs-keyword,
                        .hljs-string {
                            color: #ceac82;
                        }
                        .hljs-attr {
                            color: $grey;
                        }
                    }
                }
            }
        }
        .code-dropdown:hover {
            scale: 0.995;
        }
    }
    .no-margin {
        margin-top: 0 !important;
    }
}

.callout {
    background-color: $white;
    border-radius: 24px;
    padding: 32px;
    p {
        color: $black;
        margin-top: 8px;
    }
}

.view-project {
    margin: 0;
}

.project-reveal {
    visibility: hidden;
}

.media {
    padding: 16px;
    background-color: $darker-grey;
    border-radius: 24px;
    width: unset;
    img,
    iframe,
    video {
        width: 100%;
        border-radius: 16px;
    }
    iframe {
        height: 450px;
    }
    video {
        height: 100%;
        border-radius: 16px;
    }
}

@media screen and (max-width: 1024px) {

    .project-title {
        margin-bottom: 0;
        > div {
            img {
                display: none;
            }
            > div {
                margin: 0 -48px;
                padding-right: 48px;
                overflow-x: scroll;
                .btn,
                .tag {
                    text-wrap: nowrap;
                }
                .info {
                    margin-left: 48px;
                }
            }
        } 
        > div > div::-webkit-scrollbar {
            display: none;
        }
    }

}

@media screen and (max-width: 768px) {
    
    .hero-wrapper {
        background-color: $white;
        .col-12-8-4 {
            .sm-hero {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    aspect-ratio: 1/1;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    border-radius: 16px;
                }
            }
        }
    }

    .col-12-8-4.project-section {
        row-gap: 32px;
    }

}

@media screen and (max-width: 425px) {

    .col-12-8-4.project-section {
        row-gap: 16px;
        .paragraph:not(.callout, .code-dropdown) {
            .code-dropdown {
                max-height: 5.2rem;
            }
        }
    }
    
                
    .project-title {
        margin-bottom: 0;
        > div {
            img {
                display: none;
            }
            > div {
                margin: 0 -32px;
                padding-right: 32px;
                overflow-x: scroll;
                .btn,
                .tag {
                    text-wrap: nowrap;
                }
                .info {
                    margin-left: 32px;
                }
            }
        } 
        > div > div::-webkit-scrollbar {
            display: none;
        }
    }

}