a {
    text-decoration: none;
}

.link-underline {
    font-weight: 500;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    transform-origin: bottom left;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        background-color: $black;
        height: 1px;
        width: 100%;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.25s ease;
    }
}

.link-underline:hover {
    &::before {
        transform: scaleX(0);
        transform-origin: left;
    }
}