.flex {
    display: flex;
}

.aic {
    align-items: center;
}

.acs {
    align-content: start;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcr {
    justify-content: right;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    justify-content: end;
}

.grid {
    display: grid;
    width: 100%;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-48 {
    gap: 48px;
}

.gap-64 {
    gap: 64px;
}

.flex-toggle {
    flex-direction: row;
}

.col-12-8-4 {
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 16px;
    column-gap: 16px;
    box-sizing: border-box;
    padding: 0 56px;
}

.grid-2-toggle {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.grid-2-row {
    grid-template-rows: repeat(2, 1fr);
}

.span-full {
    grid-column: 1 / 13;
}

.span-lg {
    grid-column: 3 / 11;
}

.span-md {
    grid-column: 4 / 10;
}

.span-left {
    grid-column: 3 / 10;
}

.span-right {
    grid-column: 4 / 11;
}

@media screen and (max-width: 1440px) {

    .span-full {
        grid-column: 1 / 13;
    }

    .span-lg {
        grid-column: 2 / 12;
    }

    .span-md {
        grid-column: 3 / 11;
    }

    .span-left {
        grid-column: 2 / 10;
    }

    .span-right {
        grid-column: 4 / 12;
    }

}

@media screen and (max-width: 1024px) {

    .col-12-8-4 {
        grid-template-columns: repeat(8, 1fr);
        padding: 0 48px;
    }

    .span-full {
        grid-column: 1 / 10;
    }

    .span-lg {
        grid-column: 1 / 9;
    }

    .span-md {
        grid-column: 2 / 8;
    }

    .span-left {
        grid-column: 1 / 8;
    }

    .span-right {
        grid-column: 3 / 9;
    }

    .flex-toggle {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

    .grid-2-toggle {
        grid-template-columns: 1fr;
    }

    .span-left {
        grid-column: 1 / 9;
    }

    .span-right {
        grid-column: 1 / 9;
    }

}

@media screen and (max-width: 425px) {

    .col-12-8-4 {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 16px;
    }

    .span-full {
        grid-column: 1 / 5;
    }

    .span-lg {
        grid-column: 1 / 5;
    }

    .span-md {
        grid-column: 1 / 5;
    }

    .span-left {
        grid-column: 1 / 5;
    }

    .span-right {
        grid-column: 1 / 5;
    }

}