.testimonial-cards {
    display: grid;
    gap: 16px;
    margin-top: 16px;
    grid-template-columns: repeat(2, 1fr);
    .testimonial {
        grid-column: span 1;
        visibility: hidden;
        img {
            aspect-ratio: 1 / 1;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-touch-callout: none;
            object-fit: cover;
            object-position: center;
            height: 64px;
            border-radius: 12px;
        }
        .testimonial-text {
            width: 100%;
            padding: 16px;
            background-color: $darker-grey;
            .testimonial-quote {
                height: 100%;
                padding-left: 16px;
                border-left: $dark-grey 2px solid;
                p {
                    color: $light-grey;
                }
            }
            .testimonial-author {
                p {
                    font-family: $rubik;
                    color: $white
                }
                p:first-child {
                    font-weight: 500;
                }
                a {
                    transition: scale 0.25s ease;
                    align-self: flex-end;
                    img {
                        height: $fs-xl;
                    }
                }
                a:hover {
                    scale: 0.9;
                }
            }
        }
        
        
    }
    .left {
        img {
            align-self: flex-end;
        }
        .testimonial-text {
            border-radius: 24px 24px 24px 0;
        }
    }
    .right {
        .testimonial-text {
            border-radius: 0 24px 24px 24px;
        }
    }
    
}

@media screen and (max-width: 1440px) {
    
    .testimonial-cards {
        grid-template-columns: repeat(1, 1fr);
        .testimonial {
            img {
                height: 48px;
            }
        }
    }

}

@media screen and (max-width: 425px) {
    
    .testimonial-cards {
        .testimonial {
            img {
                border-radius: 8px;
                height: 32px;
            }
        }
    }

}