:root {
    font-family: $wix;
    color: $black;
    font-size: 62.5%;
}

html {
    font-size: 110%;
}

p,
a,
li {
    color: $black;
    font-size: $fs-xxs;
    line-height: 130%;
}

code {
    font-size: $fs-xxxs;
}

h1,
h2,
h3,
h4 {
    font-family: $rubik;
}

h5 h6,
button {
    letter-spacing: -0.1rem;
    font-family: $mono;
    font-weight: 400;
}

h1 {
    margin: 0;
}

h2 {
    color: $white;
    font-size: $fs-xxxxl;
    font-weight: 500;
    letter-spacing: -0.4rem;
    margin: 0;
}

h3 {
    font-size: $fs-xxxl;
    letter-spacing: -0.1rem;
    margin-top: 16px;
}

h4 {
    font-size: $fs-xxl;
    letter-spacing: -0.25rem;
    margin: 0;
}

h5 {
    font-size: $fs-sm;
    margin: 0;
}

h6 {
    font-size: $fs-xxs;
    margin: 0;
}

p.quote {
    font-size: $fs-sm;
    color: $white !important;
    font-family: $rubik;
    letter-spacing: -1px;
    margin: 0;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {

    p,
    a,
    li {
        font-size: $fs-xxs;
    }

    p.quote {
        font-size: $fs-xs;
        ;
    }

    code {
        font-size: $fs-xxxs;
    }

    h2 {
        font-size: $fs-xxxl;
    }

    h3 {
        font-size: $fs-xxl;
    }

    h4 {
        font-size: $fs-xl;
        ;
    }

    h5 {
        font-size: $fs-xs;
    }

    h6 {
        font-size: $fs-xxs;
        margin: 0;
    }

}

@media screen and (max-width: 425px) {

    p,
    a,
    li {
        font-size: $fs-xxxs;
    }

    p.quote {
        font-size: $fs-xxs;
    }

    code {
        font-size: $fs-xxxxs;
    }

    h2 {
        font-size: $fs-xxl;
    }

    h3 {
        font-size: $fs-xs;
    }

    h4 {
        font-size: $fs-lg;
    }

    h5 {
        font-size: $fs-xxs;
    }

    h6 {
        font-size: $fs-xxxs;
    }

}