.tt {
    position: relative;
    display: inline-block;
    .tt-text {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        color: $white;
        font-size: 1.2rem;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        background-color: $dark-grey;
        border: 0;
        text-align: center;
        font-size: 1.4rem;
        padding: 4px 8px;
        border-radius: 4px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2px;
        z-index: 1;
    }
}

.tt:hover {
    .tt-text {
        visibility: visible;
        opacity: 1;
    }
}
