button {
    border: none;
    font-size: $fs-xxs;
}

.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    border-style: none;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
    width: auto;
    transition: scale 0.25s ease;

    img {
        width: $fs-xxs;
        height: $fs-xxs;
        transition: transform 0.25s ease;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.black {
    background-color: $black;
    color: $white;
    font-family: $mono;
    font-weight: 400;
    border: $black 1px solid;
}

.black:hover {
    scale: 0.95;
}

.white {
    font-family: $mono;
    font-weight: 400;
    background-color: $white;
    color: $black;
    text-wrap: nowrap;
    border: $white 2px solid;
}

.green {
    font-family: $mono;
    font-weight: 400;
    background-color: $green;
    border: $green-outline 2px solid;
    color: $white !important;
}

.blue {
    font-family: $mono;
    font-weight: 400;
    background-color: $blue;
    border: $blue-outline 2px solid;
    color: $white !important;
}

.chip {
    font-family: $mono;
    font-weight: 400;
    margin: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 8px 12px;
    border: $light-grey 2px solid;
    border-radius: 8px;
    text-align: right;
}

.tag {
    background-color: $light-grey;
}

.filter {
    display: flex;
    align-items: center;
    gap: 12px;
    border-style: none;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: $dark-grey;
    color: $white;
    border: $grey-outline 2px solid;
    scale: 1;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        scale 0.25s ease;

    img {
        width: $fs-xxs;
        height: $fs-xxs;
        transition: transform 0.25s ease;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.filter:hover {
    scale: 0.95;
}

.all-filter.active {
    background-color: $light-grey;
    border: $grey 2px solid;
    color: $black;
}

.front-end-filter.active {
    background-color: $green;
    border: $green-outline 2px solid;
}

.ux-ui-filter.active {
    background-color: $blue;
    border: $blue-outline 2px solid;
}

.white:hover,
.secondary:hover {
    scale: 0.95;

    img {
        transform: rotate(-45deg);
    }
}

.info {
    font-family: $mono;
    border: $dark-grey 2px solid;
    padding: 11px 15px;
    border-radius: 100%;
    color: $dark-grey;
    background: transparent;
    transition: scale 0.25s ease;
}

.info:hover {
    scale: 0.9;
}

.secondary {
    font-family: $mono;
    background-color: transparent;
    border: $white 2px solid;
    color: $white;
}

@media screen and (max-width: 1024px) {

    button {
        font-size: $fs-xxs;
    }

}

@media screen and (max-width: 425px) {

    button {
        font-size: $fs-xxxs;
    }

}