.project-cards {
    width: 100%;
    visibility: hidden;

    .project {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        margin-top: 16px;
        position: relative;
        height: auto;
        background-color: $white;
        border: $light-grey solid 1px;
        border-radius: 24px;
        padding: 16px;
        transition: scale 0.25s ease;
        line-height: unset;
        text-decoration: none;
        justify-content: stretch;

        .project-img-container {
            width: 100%;
            height: auto;
            
            .project-img {
                border: $light-grey 1px solid;
                aspect-ratio: 16 / 10;
                border-radius: 8px;
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: auto;
                user-select: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
        }

        .project-chips {
            width: auto;
            height: auto;
        }

        .project-description {
            height: auto;
            margin-top: -8px;
            margin-bottom: 8px;

            h4 {
                font-size: $fs-xs;
                font-weight: 500;
                letter-spacing: -0.1rem;
            }
        }

        .project-arrow {
            width: $fs-md;
            place-self: end end;
            margin-bottom: 8px;
            transition: transform 0.25s ease;
        }
    }

    .project:hover {
        scale: 0.98;

        .project-arrow {
            transform: rotate(-45deg);
        }
    }

    .soon {
        background-color: $darker-grey;
        border: $dark-grey solid 1px;
        color: $white;

        .project-img-container {
            aspect-ratio: 16 / 10;
            border-radius: 16px;
            background-color: $black;
            color: $grey;
            display: grid;
            place-items: center;
            p {
                color: $white;
                font-family: $mono;
            }
        }

        .project-chips {
            .chip {
                color: $grey;
                background-color: $dark-grey;
                border: $grey-outline solid 1px;
            }
        }

        .project-arrow {
            transition: transform 0.5s ease;
        }
    }

    .soon:hover {
        scale: 0.98;

        .project-arrow {
            transform: rotate(-360deg);
        }
    }

    &.list {
        .project {
            .project-chips {
                justify-content: right;
                align-content: start;
            }
        }
    }

    &.grid {
        .project {
            box-sizing: unset;
            width: calc(50% - 42px);
            margin-right: unset;
            grid-template-columns: 1fr;

            .project-chips {
                flex-wrap: wrap;
            }

            .project-chips::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .project-cards {
        &.grid {
            .project {
                margin-right: unset;
                width: unset;
                grid-template-columns: 1.5fr 0.5fr;

                .project-chips {
                    justify-content: right;
                    align-content: start;
                    overflow-x: unset;
                    height: unset;
                    text-wrap: unset;
                    flex-wrap: wrap;
                    margin: unset;
                    padding-right: unset;

                    .btn:first-child {
                        margin-left: unset;
                    }
                }

                .project-chips::-webkit-scrollbar {
                    display: unset;
                }

                .project-description {
                    p {
                        display: unset;
                    }

                    .project-arrow {
                        display: none;
                    }
                }

                .project-arrow {
                    display: unset;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .project-cards,
    .project-cards.grid {
        .project {
            overflow: hidden;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            height: auto;

            .project-chips {
                justify-content: start !important;
                overflow-x: scroll;
                height: auto;
                text-wrap: nowrap;
                flex-wrap: nowrap;
                margin: 0 -16px;
                padding-right: 16px;

                .btn:first-child {
                    margin-left: 16px;
                }
            }

            .project-chips::-webkit-scrollbar {
                display: none;
            }

            .project-description {
                h3 {
                    margin: 0;
                }

                h4 {
                    font-size: $fs-xxs;
                }

            }

            .project-arrow {
                display: none;
            }
        }
    }

}