header {
    z-index: 99;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 16px;

    .header {
        font-family: $rubik !important;
        color: $white;
        background-color: $black;
        text-decoration: none;
        border: $dark-grey 2px solid;
        padding: 8px 12px;
    }

    img {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .logo-btn {
        height: 4.2rem;
        z-index: 9;

        .logo {
            height: 100%;
            z-index: 9;
            transition: scale 0.25s ease;
            border: $dark-grey 2px solid;
            border-radius: 9px;
        }
    }

    .nav-toggle {
        display: none;
        transition: scale 0.25s ease;
    }

    .nav-toggle:hover {
        scale: 0.925;
    }

    img:hover {
        scale: 0.925;
    }

    .nav-wrapper {
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    height: 26px;
                    text-decoration: none;

                    li,
                    img {
                        transition: scale 0.25s ease;
                    }
                }

                a:hover {
                    scale: 0.925;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    header {
        .nav-toggle {
            display: block;
            z-index: 9;
            right: 0;
            height: 44px;
            width: 44px;
            padding: 4px 8px;
            border: $dark-grey 1px solid;
            border-radius: 8px;
            background-color: $black;

            .line {
                display: block;
                height: 2px;
                width: 100%;
                margin: 6px auto;
                background-color: $white;
                transition: all 0.25s ease-in-out;
            }

            .line:nth-child(2) {
                transform: scaleX(0.75);
                transform-origin: right;
            }

            .line:nth-child(3) {
                transform: scaleX(0.5);
                transform-origin: right;
            }

            &.open {
                .line:nth-child(1) {
                    transform: translateY(8px) rotate(-45deg) scaleX(1);
                    transform-origin: unset;
                }

                .line:nth-child(2) {
                    opacity: 0;
                }

                .line:nth-child(3) {
                    transform: translateY(-8px) rotate(45deg) scaleX(1);
                    transform-origin: unset;
                }
            }
        }

        .nav-wrapper {
            display: flex;
            align-items: center;
            position: fixed;
            background-color: rgba(32, 32, 32, 0.9);
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            top: 0;
            left: 100vw;
            width: 100vw;
            height: 100vh;
            transition: left 0.75s cubic-bezier(0.190, 1.000, 0.220, 1.000);
            overflow: hidden;

            nav {
                position: fixed;
                width: 100vw;

                ul {
                    gap: 32px;
                    width: 100vw;

                    li {
                        a.header.btn {
                            padding: 0 24px;
                            background-color: transparent;
                            width: 100vw;
                            height: 50%;
                            border: none;
                            border-radius: unset;
                            font-size: 6rem;
                            gap: 16px;

                            img {
                                width: 3rem;
                                height: 3rem;

                            }
                        }

                        a {
                            transition: margin-left 0.25s ease;
                        }

                        a:hover {
                            scale: unset;
                            margin-left: 24px;
                        }
                    }
                }
            }
        }

        .visible {
            left: 0;
        }
    }

}