.error {
    margin-top: 0;
    min-height: auto;
    
    h1 {
        color: $white;
        font-size: $fs-xxxxl;
        font-weight: 500;
        letter-spacing: -0.15rem;
        margin: 0;
    }
    
    h2 {
        font-family: $mono;
        font-size: $fs-xs;
        letter-spacing: unset;
        margin-top: -16px;
        margin-bottom: 16px;
    }

    .forest {
        grid-template-columns: repeat(9, 1fr);
        margin: 32px 0;

        img {
            user-select: none;
            width: 100%;
            opacity: 0.5;
                
            &[src="./icons/ui/white-home.svg"] {
                animation: fadeRepeat 5s ease infinite;
                grid-column-start: 5;
            }
        }
    }

    p {
        color: $grey;
    }

    @keyframes fadeRepeat {
        0% {
            opacity: 0.5;
        }
        50% { 
            opacity: 1;
        }
        100% {
            opacity: 0.5;
        }
    }

}