.col-12-8-4.project-section {
    row-gap: 64px;

    .paragraph.callout {
        p {
            color: $black;
        }
    }

    h4 {
        font-size: $fs-sm;
        font-family: $rubik;
        font-weight: 600;
        letter-spacing: unset;
        color: $white;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
}

    h4::after {
        content: '';
        background-color: $dark-grey;
        width: 100%;
        height: 0.4rem;
        place-self: center;
    }

    p {
        color: $light-grey;

        a.link-underline {
            display: inline-block;
            color: $white;
        }

        a.link-underline::before {
            width: 100%;
            background-color: $white;
        }

        code {
            padding: 4px 8px;
            border-radius: 4px;
            background-color: $darker-grey;
        }
    }

    figure {
        margin: 0;

        img {
            width: 100%;
            border-radius: 8px;
            transition: scale 0.25s ease;
        }
    }

    .paragraph:not(.callout, .code-dropdown) {

        .project-reveal {
            margin-top: 0;
        }

        .code-dropdown {
            grid-column: 1 / start 2;
            border-radius: 16px;
            background-color: $darker-grey;
            overflow: hidden;
            max-height: 5.8rem;
            transition: max-height 0.75s ease-in-out,
                scale 0.1s ease-in-out;

            .code-dropdown-btn {
                padding: 16px;
                border-radius: 16px;
                background-color: $darker-grey;

                p {
                    color: $white;
                }

                .caret {
                    height: 1.2rem;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border: none;
                    background-color: transparent;
                    color: $white;
                    transition: transform 0.25s ease;
                }
            }

            .code-preview {
                margin: 0 16px 16px 16px;
                background-color: #181818;
                padding: 16px;
                border-radius: 8px;

                pre {
                    font-size: unset;
                    margin: 0;

                    code {
                        color: $white;
                        text-wrap: wrap;
                        word-wrap: break-word;

                        .hljs-comment {
                            color: #535353;
                        }

                        .hljs-variable,
                        .hljs-title {
                            color: #94b4e4;
                        }

                        .hljs-literal,
                        .hljs-number {
                            color: #8eb46d;
                        }

                        .hljs-keyword,
                        .hljs-string {
                            color: #ceac82;
                        }

                        .hljs-attr {
                            color: $grey;
                        }
                    }
                }
            }
        }

        .code-dropdown:hover {
            scale: 0.995;
        }
    }

    .paragraph.span-lg:nth-child(n + 2) {
        margin: 48px 0;
    }
}

.callout {
    background-color: $white;
    border-radius: 24px;
    padding: 24px;

    p {
        color: $black;
        margin-top: 8px;
    }
}

.project-reveal {
    visibility: hidden;
}

.media {
    padding: 16px;
    background-color: $darker-grey;
    border-radius: 24px;
    scroll-margin-top: 124px;
    width: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    img,
    iframe,
    video {
        width: 100%;
        border-radius: 8px;
    }

    iframe {
        height: 450px;
    }

    video {
        height: 100%;
        border-radius: 16px;
    }
}

@media screen and (max-width: 1024px) {

    .col-12-8-4.col-12-8-4.project-section {
        h4 {
            font-size: $fs-xs;
        }
    }

}

@media screen and (max-width: 768px) {

    .col-12-8-4.project-section {
        row-gap: 32px;
    }

}

@media screen and (max-width: 425px) {

    .col-12-8-4.project-section {
        row-gap: 16px;


        .paragraph:not(.callout, .code-dropdown) {
            .code-dropdown {
                max-height: 5.2rem;
            }
        }

        h4 {
            font-size: $fs-xxs;
        }
    }

}