.hero-wrapper {
    margin-top: -112px;
    min-height: 634px;
    height: calc(100vh + 40px);
    height: calc(100dvh + 40px);
    margin-bottom: -48px;
    width: 100vw;
    padding: 24px 0;

    .hero {
        background-image: url("../media/mountains.jpg");

        hgroup {
            max-width: 1920px;
        }

        .hero-name-container {
            width: 100%;

            #hero-name {
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .parallax {
        min-height: 634px;
        height: calc(100vh + 64px);
        height: calc(100dvh + 64px);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .hero-text {
            width: 100vw;
            visibility: hidden;
            align-content: center;

            .indent {
                margin-left: 64px;
            }

            .project-hero h1 {
                color: $black;
                font-size: 15vw;
                letter-spacing: -1vw;
                text-wrap: nowrap;
                text-align: center;
                margin: 0;

                span {
                    display: inline-block;
                }
            }

            h2 {
                font-family: $mono;
                color: $black;
                font-size: $fs-xxs;
                font-weight: 400;
                letter-spacing: unset;
                margin-bottom: 8px;

                :not(.btn) {
                    display: inline-block;
                    width: auto;
                }

                .btn {
                    img {
                        width: $fs-xxs;
                        height: $fs-xxs;
                        transition: all 0.5s ease;
                    }
                }

                .green:hover {
                    img {
                        transform: rotate(360deg);
                    }
                }
    
                .blue:hover {
                    img {
                        scale: 0.75;
                    }
                }
            }

            .align-right {
                text-align: right;
            }
        }
    }

    .arrow-down {
        margin-top: 64px;
        width: 4.8rem;
        height: 4.8rem;
        visibility: hidden;
        -webkit-animation: pointDown 1s ease;
        animation: pointDown 1s ease;
    }
}

.project-hero.hero-wrapper {
    .col-12-8-4 {
        row-gap: 0;
        justify-content: end;
        align-items: end;

        .hero-img {
            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                height: auto;
                border-radius: 16px;
            }
        }
    }

    .project-title {
        z-index: 2;
        
        h1 {
            color: $black;
            font-size: $fs-xxxl;
            font-weight: bold;
            letter-spacing: -0.15rem;
            margin: 0;
        }

        h2 {
            color: $black;
            margin-bottom: 16px;
            font-size: $fs-xs;
            font-weight: 500;
            letter-spacing: -0.1rem;
        }

        .btn {

            &.secondary {
                color: $dark-grey;
                border: $dark-grey 2px solid;
            }

            img {
                transition: all 0.5s ease;
            }
        }

        .green:hover {
            img {
                transform: rotate(360deg);
            }
        }

        .blue:hover {
            img {
                scale: 0.75;
            }
        }

        .info {
            margin: 0;
        }
    }
}

.overlay::before {
    content: '';
    z-index: 1;
    width: 100%;
    height: calc(100vh + 64px);
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff00 50%)
}

@media screen and (max-width: 1024px) {

    .hero-wrapper {

        h2 {
            font-size: $fs-xs;

            span {
                img {
                    width: $fs-xxs;
                    height: $fs-xxs;
                }
            }
        }

        .arrow-down {
            width: 3.2rem;
            height: 3.2rem;
        }

        &.project-hero {

            .project-title {

                >div {

                    >div {
                        margin: 0 -48px;
                        padding-right: 48px;
                        overflow-x: scroll;

                        .btn,
                        .tag {
                            text-wrap: nowrap;
                        }

                        >.green,
                        >.blue,
                        >.info {
                            margin-left: 48px;
                        }
                    }
                }

                >div>div::-webkit-scrollbar {
                    display: none;
                }
            }

            .links-container {

                .btn {
                    margin: 0px;
                }

                .info {
                    margin-left: 48px;
                }
            }

        }

    }

}

@media screen and (max-width: 768px) {

    .hero-wrapper {

        &.project-hero {
            padding: 0;
            background-color: $white;
            margin-top: unset;
            height: auto;

            .project-title {
                margin-bottom: 112px;
                grid-column: 1 / span 8;
            }

            .parallax {
                height: 100vh;
                height: 100dvh;

                &::before {
                    height: 100vh;
                    height: 100dvh;
                }

            }

            .col-12-8-4 {
                height: auto;

                .hero-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column: 1 / span 8;

                    img {
                        width: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: center;
                        object-position: center;
                        height: auto;
                        border-radius: 16px;
                    }
                }

                .project-title {
                    margin-top: 16px;
                    padding: 0;

                    h1 {
                        font-size: $fs-xxl;
                    }

                    h2 {
                        font-size: $fs-xxs;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 425px) {

    .hero-wrapper {
        .parallax {

            .hero-text {
                .indent {
                    margin-left: 32px;
                }

                h2 {
                    font-size: $fs-xxxs;

                    .btn {
                        img {
                            width: $fs-xxxs;
                            height: $fs-xxxs;
                        }
                    }
                }
            }
        }

        .arrow-down {
            width: 2.8rem;
            height: 2.8rem;
        }

        &.project-hero {

            .col-12-8-4 {

                .hero-img {
                    grid-column: 1 / span 4;
                }

                .links-container {
                    .info {
                        margin-left: 16px;
                    }
                }

                .project-title {
                    grid-column: 1 / span 4;

                    >div {

                        >div {
                            margin: 0 -16px;
                            padding-right: 16px;
                            overflow-x: scroll;

                            .btn,
                            .tag {
                                text-wrap: nowrap;
                            }

                            >.green,
                            >.blue,
                            >.info {
                                margin-left: 16px;
                            }
                        }
                    }

                    >div>div::-webkit-scrollbar {
                        display: none;
                    }
                }

            }
        }
    }

}