.work {
    margin-top: 0;

    h1 {
        color: $white;
        font-size: $fs-xxxxl;
        font-weight: 500;
        letter-spacing: -0.15rem;
        margin: 0;
    }
}

main {
    position: relative;
    z-index: 2;
    background-color: $black;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100vh;
    margin-bottom: 18px;
    border-radius: 32px;
    padding: 112px 0;

    >section {
        max-width: 1920px;
    }

    div {
        .filter-button-group {
            margin-top: 16px;

            .filter {
                visibility: hidden;
            }
        }

        .view-toggle {
            visibility: hidden;
            margin-top: 16px;
            background-color: transparent;
            height: 4.4rem;
            width: 4.4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 0;
            transition: scale 0.25s ease;
            overflow: hidden;

            .context {
                display: none;
            }

            .box {
                background-color: $dark-grey;
                border: $grey-outline 2px solid;
                width: 75%;
                height: 75%;
                border-radius: 4px;
                transition: all 0.25s ease;
            }

            .box:nth-child(2) {
                place-self: start end;
            }

            .box:nth-child(3) {
                place-self: end start;
            }

            .box:nth-child(4) {
                place-self: end end;
            }

            &.list-icon {
                .box {
                    width: 182%;
                }

                .box:nth-child(1),
                .box:nth-child(4) {
                    opacity: 0;
                }
            }
        }

        .view-toggle:hover {
            scale: 0.95;
        }
    }

    .intro {
        visibility: hidden;
        margin-bottom: 32px;
        border-radius: 24px;
        padding: 16px;
        background-color: $darker-grey;

        p {
            color: $grey;

            strong {
                color: $light-grey;
            }
        }

        .picture {
            border: $dark-grey 1px solid;
            max-width: 384px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            border-radius: 12px;
            user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        >div {
            height: 100%;
        }
    }

    >div {
        width: 100%;
    }

    h1,
    h2 {
        visibility: hidden;
    }

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .more {
        visibility: hidden;
        margin: 16px 0 32px 0;
    }
}

.project-reveal {
    visibility: hidden;
}

@media screen and (max-width: 1440px) {

    main {
        padding: 96px 0;

        .picture {
            width: 100%;
        }

        .filter-button-group {
            margin: 16px 0 0 0;
        }

        .filter-button-group::-webkit-scrollbar {
            display: none;
        }
    }

}

@media screen and (max-width: 1024px) {

    main {
        padding: 48px 0;

        .intro {
            .picture {
                width: 50%;
            }
        }


        div {
            .view-toggle {
                display: none;
            }
        }
    }

}

@media screen and (max-width: 768px) {

    main {
        padding: 48px 0;

        .intro {
            flex-direction: column;

            .picture {
                align-self: center;
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 425px) {

    main {
        border-radius: 40px;
        padding: 16px 0 80px 0;


        .filter-button-group {
            flex-wrap: nowrap;
            overflow: scroll;
            margin: 16px -16px 0 -16px;
            padding-right: 16px;

            .filter {
                text-wrap: nowrap;
            }

            .filter:first-child {
                margin-left: 16px;
            }
        }
    }

}