.testimonial {
    visibility: hidden;
    margin-top: 16px;

    img {
        aspect-ratio: 1 / 1;
        align-self: flex-end;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        object-fit: cover;
        object-position: center;
        height: 64px;
        border-radius: 12px;
    }

    .testimonial-text {
        padding: 16px;
        background-color: $darker-grey;
        border-radius: 24px 24px 0 24px;

        .testimonial-quote {
            height: 100%;
            padding-right: 16px;
            border-right: $dark-grey 2px solid;

            p {
                color: $grey;

                strong {
                    color: $light-grey;
                }
            }
        }

        .testimonial-author {

            > a {
                height: 100%;
                display: flex;
                align-items: end;
            }
            
            div {
                align-items: end;

                .link-underline {
                    font-family: $rubik;
                    color: $white;
    
                    &::before {
                        background-color: $white;
                    }
                }
    
                p {
                    font-weight: 500;
                    color: $light-grey;
                }
            }


            img {
                transition: scale 0.25s ease;
                align-self: flex-end;
                height: $fs-xl;
            }

            img:hover {
                scale: 0.9;
            }
        }
    }


}


@media screen and (max-width: 1440px) {

    .testimonial {
        img {
            height: 48px;
        }
    }


}